<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Practico 01 - PWA</title>
</head>
<body>
    <div id="mi-app">
        nombre: {{ nombre }} <br>
        edad: {{ edad }} <br>
        ciudad: {{ ciudad }} <br>
        <p>Hola, mi nombre es {{ nombre }}, tengo {{ edad }} años y vivo en {{ ciudad }}.</p>
        <hr>
        Contador : {{ contadorValido }} <br>
        <button @click="contador++"> Incrementar </button> 
        <button @click="contador--"> Decrementar </button> 
        <hr>
        Esta es mi lista de tareas: <br>
        <ul>
            <li v-for="tarea in tareas" :key="tarea.id">
                <input type="checkbox" v-model="tarea.completada">
                {{ tarea.id }}
                {{ tarea.texto }}
            </li>
        </ul>
        <input type="text" v-model="nuevaTarea" placeholder="Nueva tarea">
        <button @click="agregarTarea">Agregar tarea</button><br>

        Tareas pendientes: {{ tareasPendientes.length }} <br>
        Total de tareas: {{ totalTareas }}
    </div>
    <script>
        var app = new Vue({
            el: '#mi-app',
            data: {
                nombre: 'Ana García',
                edad: '30',
                ciudad: 'Tupungato',
                contador: 0,
                nuevaTarea: '',
                tareas: [
                        {
                            id: '1',
                            texto: 'Aprender Vue',
                            completada: false
                        }
                    ]
                
            },
            computed: {
                contadorValido() {
                    if(this.contador < 0){
                        this.contador = 0;
                    }
                     return this.contador;
                    },
                tareasPendientes: function() {
                    return this.tareas.filter(function(tarea) {
                return !tarea.completada;
                });
                },
                totalTareas() {
                    return this.tareas.length;
                }
            },
            methods: {
                agregarTarea() {
                    if(this.nuevaTarea != '') {
                        this.tareas.push({
                            id: this.tareas.length + 1,
                            texto: this.nuevaTarea,
                            completada: false
                        });
                        this.nuevaTarea = '';
                    }
                }
            }
        });
    
    </script>
</body>
</html>